@import "~bootstrap/scss/bootstrap";


nav {
    height: 80px;background: linear-gradient(-100deg, #0A2472, #0E6BA8 49%, #5AA6D1);
}

.header-brand {
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
}

.header-brand:hover {
    border-color: transparent;
    background-color: transparent;
}

.header-brand:active {
    border-color: transparent;
    background-color: blue;
    background: white;
}

.header-link {
    border-color: transparent;
    border-width: 1px;
    border-radius: 2px;
}

.header-link:hover {
    color: white;
    background-color: transparent;
}

.header-link-login {
    border-width: 1px;
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
}
.header-link-to-profile { 
    background: linear-gradient(150deg, #0A2472, #0E6BA8 50%, #5AA6D1);
    border-radius: 2px;
    margin-left: 8px;
    margin-right: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border: white solid 1px;
    margin-top: -1px;
}



.header-link-registration {
    border-width: 1px;
    border-radius: 2px;
    margin-left: 4px;
    margin-right: 8px;
    padding-left: 14px;
    padding-right: 14px;
}