.update-news-btn {
    border-radius: 2px;
    transition-duration: 0.5s;
    background: #D86C00;
    border-color: #D86C00;

}

.update-news-btn:hover {
    background: transparent;
    color: #D86C00;
    border-color: #D86C00;
}

.delete-news-btn {
    border-radius: 2px;
    border-color: #900000;
    color: #900000;
    background: transparent;
    margin-left: 8px;
    transition-duration: 0.5s;
}

.delete-news-btn:hover {
    border-color: #900000;
    color: white;
    background: #900000;
    margin-left: 8px;
}

.create-news-btn {
    border-radius: 2px;
    border-color: green;
    color: white;
    background: green;
    transition-duration: 0.5s;
}

.create-news-btn:hover {
    border-color: green;
    background: transparent;
    color: green;
}